<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ _('Beehive login') }}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ style }}">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="row">

			    {% block content %}    
			    {% endblock %}

        </div>
    </div>

    <!-- jQuery Core JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- JQuery Validator -->
    <!-- <script src="{{ url_for('static', filename='jquery-validation/1.13.1/js/jquery.validate.min.js') }}"></script> -->
    <script src="//cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.validation/1.14.0/additional-methods.min.js"></script>
      
    <!-- Include main script -->
    <script>
    $(document).ready(function() {
        
        window.setTimeout(function(){
            $("#msg").fadeOut(3000);
            $("#msg").remove();
        }, 5000);
    });
    </script>
</body>
</html>
